.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

.category-title:hover {
  &::after {
    font-size: medium;
    content: "View all >>";
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
  }
}
