body {
  margin: 0 auto;
  font-family: "Fira Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.password-prompt {
  text-align: center;
  max-width: max-content;
  background-color: lightpink;
  padding: 10px 40px;
  border-radius: 8px;
  color: red;
  font-weight: bold;
  margin: 15px;
}

.display-none {
  display: none;
}
